*{
    box-sizing: border-box;
}

body{
    background-image: url(kepek/html\ background.avif) ;
    max-width: 1200px; 
    margin-left: auto; 
    margin-right: auto; 
    padding: 0 20px; 
    text-align: center;
}

#menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

a{
    text-decoration: none;
    color: rgb(116, 57, 15);
}

.tarolo, .fejlec, .tartalom, .lablec{
    border: 1px solid rgb(0, 0, 0);
    padding: 20px;
    margin: 20px;
    background-color: rgba(163, 72, 12, 0.849);
}

p{
    color: rgb(11, 134, 7);

}

h1{
    color: rgb(136, 106, 6);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    color: rgb(123, 155, 8);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3{
    color: rgb(16, 170, 29);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

img{
    width: 400px;
}

@media screen and (max-width: 1000px) {
    body{
        width: 100%;
    }
    
}