*{
    box-sizing: border-box;
}

body{
    background-color: rgb(126, 57, 2);
    max-width: 1200px; 
    margin-left: auto; 
    margin-right: auto; 
    padding: 0 20px; 
    text-align: center;
}

#menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

a{
    text-decoration: none;
    color: rgb(179, 77, 5);
}

.tarolo, .fejlec, .tartalom, .lablec{
    border: 1px solid rgb(0, 0, 0);
    padding: 20px;
    margin: 20px;
}

p{
    color: rgb(11, 134, 7);

}

h1{
    color: rgb(136, 106, 6);
    text-align: center;
}

h2{
    color: rgb(123, 155, 8);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3{
    color: rgb(16, 170, 29);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

img{
    width: 400px;
}

@media screen and (max-width: 1000px) {
    body{
        width: 100%;
    }
    
}